<template>
  <div class="account-profile">
    <v-card elevation="0" class="px-3 py-8 mt-4">
      <v-subheader class="font-weight-bold black--text text-uppercase"
        >TÀI KHOẢN</v-subheader
      >
      <v-card-text class="pt-2">
        <v-row>
          <v-col cols="12">
            <v-text-field
              id="email"
              v-model="model.email"
              name="email"
              label="Email"
              outlined
              disabled
              filled
              persistent-placeholder
              hide-details
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              id="password"
              name="password"
              label="Password"
              type="password"
              value="**************"
              outlined
              disabled
              readonly
              filled
              hide-details
            >
              <template #append>
                <v-btn fab text small color="primary" @click="toggleModal">
                  <v-icon>mdi-lock-reset</v-icon>
                </v-btn>
              </template>
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-subheader class="font-weight-bold black--text text-uppercase mt-8"
        >THÔNG TIN CÁ NHÂN</v-subheader
      >
      <v-card-text class="pt-2">
        <v-row>
          <v-col cols="12">
            <v-text-field
              id="full-name"
              v-model="model.fullName"
              name="full-name"
              label="Full Name"
              outlined
              persistent-placeholder
              hide-details
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              id="phone"
              v-model="model.phone"
              name="phone"
              label="Phone"
              outlined
              persistent-placeholder
              hide-details
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              id="location"
              v-model="model.address"
              name="location"
              label="Location"
              outlined
              persistent-placeholder
              hide-details
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="pa-4 d-flex flex-row justify-end align-center">
        <v-btn
          depressed
          x-large
          block
          color="primary"
          class="px-4 text-capitalize"
          @click="updateUserProfile"
          >Save profile</v-btn
        >
      </v-card-actions>
    </v-card>
    <v-dialog
      v-model="resetPasswordModal"
      max-width="500px"
      transition="dialog-transition"
    >
      <page-auth-change-password :redirect="false"></page-auth-change-password>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: 'AccountProfile',
  data() {
    return {
      model: {
        email: 'miguel@gmail.com',
      },
      resetPasswordModal: false,
    }
  },
  async fetch() {
    await this.fetchUserProfile()
  },
  computed: {
    userId() {
      return this.$auth.user?.id
    },
  },
  methods: {
    async fetchUserProfile() {
      this.model = await this.$axios.$get(`/users/${this.userId}`)
    },
    async updateUserProfile() {
      try {
        this.model = await this.$axios.$put(`/users/${this.userId}`, {
          fullName: this.model.fullName,
          phone: this.model.phone,
          address: this.model.address,
        })
        if (this.model) {
          this.$notifier.success(this.$t('auth.notiProfileUpdateSuccess'))
        }
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    toggleModal() {
      this.resetPasswordModal = !this.resetPasswordModal
    },
  },
}
</script>
<style lang="scss">
.account-profile {
  .v-input__append-inner {
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center !important;
  }
  .v-text-field--filled:not(.v-text-field--single-line) input {
    margin-top: 0;
  }
}
</style>
