<template>
  <div class="account-security">
    <v-card elevation="0" class="px-3 py-8">
      <v-subheader class="font-weight-bold black--text text-uppercase"
        >BẢO VỆ TÀI KHOẢN</v-subheader
      >
      <v-card-text class="pt-2">
        <v-list class="border rounded overflow-hidden py-0">
          <v-list-item class="pa-4">
            <label
              class="w-full d-flex flex-row justify-space-between align-center"
            >
              <span class="d-flex flex-column justify-center align-start"
                >Bật xác minh hai bước
                <span class="text-caption text--subtitle"
                  >Đảm bảo tài khoản an toàn</span
                >
              </span>
              <v-switch
                v-model="model.fa"
                dense
                inset
                hide-details
                class="ma-0 pa-0 d-flex flex-row justify-center align-end"
              ></v-switch
            ></label>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  name: 'AccountSecurity',
  data() {
    return {
      model: {
        fa: false,
      },
    }
  },
}
</script>
