<template>
  <div class="account-setting">
    <v-card elevation="0" class="px-3 py-8 mt-4">
      <v-subheader class="font-weight-bold black--text text-uppercase">
        {{ $t('account.setting.textSubscribe') }}
      </v-subheader>
      <v-card-text class="pt-2">
        <v-alert
          text
          type="info"
          icon="mdi-email-check-outline"
          :value="true"
          class="mb-0"
        >
          <template v-if="model.isSubscribe">
            <span class="black--text text-body-2">
              We send you email every week. Click
              <v-btn
                color="error"
                x-small
                text
                class="ma-0 pa-0 text-body-2 text-capitalize"
                @click="showUnsubscribeConfirm"
              >
                UnSubscribe
              </v-btn>
              if you dont want to receiver
            </span>
          </template>
          <template v-else>
            <span class="black--text text-body-2">
              Thankyou for your subscribe. Click
              <v-btn
                color="info"
                x-small
                text
                class="ma-0 pa-0 text-body-2 text-capitalize"
                @click="updateUserSubscribe(true)"
              >
                Subscribe
              </v-btn>
              if you want to receiver
            </span>
          </template>
        </v-alert>
      </v-card-text>
      <v-subheader class="font-weight-bold black--text text-uppercase mt-8">
        {{ $t('account.setting.textNotification') }}
      </v-subheader>
      <v-card-text class="pt-2">
        <v-list class="border rounded overflow-hidden py-0">
          <v-list-item class="pa-4">
            <v-checkbox
              v-model="model.news"
              hide-details
              class="ma-0"
              @change="updateUserNotification"
            >
              <template #label>
                <div class="text-body-2">
                  {{ $t('account.setting.textNotificationNewsOption') }}
                </div>
              </template>
            </v-checkbox>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item class="pa-4">
            <v-checkbox
              v-model="model.inbox"
              hide-details
              class="ma-0"
              @change="updateUserNotification"
            >
              <template #label>
                <div class="text-body-2">
                  {{ $t('account.setting.textNotificationInboxOption') }}
                </div>
              </template>
            </v-checkbox>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item class="pa-4">
            <v-checkbox
              v-model="model.authentication"
              hide-details
              class="ma-0"
              @change="updateUserNotification"
              ><template #label>
                <div class="text-body-2">
                  {{
                    $t('account.setting.textNotificationAuthenticationOption')
                  }}
                </div>
              </template>
            </v-checkbox>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  name: 'AccountSetting',
  data() {
    return {
      model: {
        inbox: false,
        authentication: false,
        news: false,
        isSubscribe: false,
      },
      unsubscribeModal: false,
    }
  },
  async fetch() {
    await this.fetchUserNotification()
    await this.fetchUserSubscribe()
  },
  created() {
    this.$nuxt.$on('popup-confirm', this.unSubscribe)
  },
  methods: {
    async fetchUserNotification() {
      try {
        const userId = this.$auth?.user?.id
        const response = await this.$axios.$get(`/notifications/user/${userId}`)
        this.updateNotificationModelByResponse(response)
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    async fetchUserSubscribe() {
      try {
        const userId = this.$auth?.user?.id
        const response = await this.$axios.$get(`/subscribes/user/${userId}`)
        this.updateSubscribeModelByResponse(response)
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    async updateUserNotification() {
      try {
        const userId = this.$auth?.user?.id
        const response = await this.$axios.$put(
          `/notifications/user/${userId}`,
          {
            inbox: this.model.inbox,
            authentication: this.model.authentication,
            news: this.model.news,
          }
        )
        if (response) {
          this.updateNotificationModelByResponse(response)
          this.$notifier.success(
            this.$t('account.setting.notiNotificationUpdateSuccess')
          )
        }
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    async updateUserSubscribe(isSubscribe) {
      try {
        const userId = this.$auth?.user?.id
        const response = await this.$axios.$put(`/subscribes/user/${userId}`, {
          isSubscribe,
        })
        if (response) {
          this.updateSubscribeModelByResponse(response)
          this.$notifier.success(
            this.$t('account.setting.notiNotificationUpdateSuccess')
          )
        }
      } catch (error) {
        this.$notifier.error(error)
      }
    },

    showUnsubscribeConfirm() {
      this.$popup.confirm({
        title: 'Unsubscribe confirm',
        content: 'Are you sure to unsubscribe?',
      })
    },
    unSubscribe() {
      this.updateUserSubscribe(false)
    },
    updateNotificationModelByResponse(res) {
      this.model.authentication = res?.authentication
      this.model.inbox = res?.inbox
      this.model.news = res?.news
    },
    updateSubscribeModelByResponse(res) {
      this.model.isSubscribe = res?.isSubscribe
    },
  },
  detroyed() {
    this.$nuxt.$off('popup-confirm', this.unSubscribe)
  },
}
</script>
