<template>
  <div class="auth-callback-page"></div>
</template>
<script>
export default {
  name: 'AuthProviderCallbackPage',
  auth: false,
  layout: 'auth',
  async fetch({ route, redirect, $axios, $auth, $notifier }) {
    try {
      const { jwt } = await $axios.$get(`${route.fullPath}`)
      $auth.setUserToken(jwt)
      await $auth.fetchUser()
      redirect('/')
    } catch (e) {
      $notifier.error(e)
    }
  },
}
</script>
