<template>
  <v-list nav dense>
    <v-list-item class="grey lighten-5 py-2">
      <v-avatar size="40" color="grey lighten-4" class="mr-2">
        <v-icon>mdi-account-circle-outline</v-icon>
      </v-avatar>
      <v-list-item-title>
        <h6 class="text-body-1">{{ userProfile.username }}</h6>
        <span>{{ userProfile.email }}</span>
      </v-list-item-title>
    </v-list-item>
    <template v-if="authMenus.length > 0">
      <v-subheader>FOR YOU</v-subheader>
      <v-list-item-group v-model="group" color="primary">
        <v-list-item
          v-for="(menu, index) in authMenus"
          :key="index + 'menu'"
          nuxt
          :to="menu.to"
        >
          <v-icon small class="mr-2" v-text="menu.icon"></v-icon>
          <v-list-item-title>{{ menu.name }}</v-list-item-title>
        </v-list-item>
      </v-list-item-group>
    </template>
    <template v-if="authAccountMenu.length > 0">
      <v-divider class="my-4"></v-divider>
      <v-subheader>ACCOUNT</v-subheader>
      <v-list-item-group v-model="group" color="primary">
        <v-list-item
          v-for="(menu, index) in authAccountMenu"
          :key="index + 'menu'"
          nuxt
          :to="menu.to"
        >
          <v-icon small class="mr-2" v-text="menu.icon"></v-icon>
          <v-list-item-title>{{ menu.name }}</v-list-item-title>
        </v-list-item>
      </v-list-item-group>
    </template>
  </v-list>
</template>
<script>
export default {
  name: 'LayoutDrawer',
  data() {
    return {
      group: null,
      menus: [
        {
          name: 'Draff',
          icon: 'mdi-bookmark-multiple-outline',
          to: '/draff',
          authType: 'FALSE',
        },
        {
          name: 'My Listing',
          icon: 'mdi-video-stabilization',
          to: '/account/my-listing',
          authType: 'TRUE',
        },
        {
          name: 'Inbox',
          icon: 'mdi-email-open-outline',
          to: '/account/inbox',
          authType: 'TRUE',
        },
      ],
      accounts: [
        {
          name: 'Profile',
          icon: 'mdi-account-circle-outline',
          to: '/account/profile',
          authType: 'TRUE',
        },
        {
          name: 'Security',
          icon: 'mdi-shield-check-outline',
          to: '/account/security',
          authType: 'TRUE',
        },
        {
          name: 'Setting',
          icon: 'mdi-account-cog-outline',
          to: '/account/setting',
          authType: 'TRUE',
        },
      ],
    }
  },
  computed: {
    userProfile() {
      return (
        this.$auth.user || {
          username: 'Guest',
          email: '',
        }
      )
    },
    authMenus() {
      return (
        this.menus.filter((item) => {
          return this.$auth.loggedIn
            ? ['TRUE', 'BOTH'].includes(item.authType)
            : ['FALSE', 'BOTH'].includes(item.authType)
        }) || []
      )
    },
    authAccountMenu() {
      return (
        this.accounts.filter((item) => {
          return this.$auth.loggedIn
            ? ['TRUE', 'BOTH'].includes(item.authType)
            : ['FALSE', 'BOTH'].includes(item.authType)
        }) || []
      )
    },
  },
}
</script>
