<template>
  <div>
    <v-app-bar app flat elevation="0" color="white">
      <div class="d-flex justify-space-between w-full">
        <v-btn depressed fab text small @click.stop="backRouting">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <layout-logo></layout-logo>
        <layout-language></layout-language>
      </div>
    </v-app-bar>
  </div>
</template>
<script>
export default {
  name: 'HeaderBack',
  methods: {
    backRouting() {
      this.$router.go(-1)
    },
  },
}
</script>
