<template>
  <div>
    <v-app-bar app elevation="0" color="white">
      <div class="d-flex justify-space-between w-full">
        <v-btn depressed fab text small @click.stop="toggleDrawer">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
        <layout-logo></layout-logo>
        <layout-language></layout-language>
      </div>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <div class="pa-4">
        <layout-drawer></layout-drawer>
      </div>
      <template #append>
        <div
          v-if="!$auth.loggedIn"
          class="d-flex flex-column justify-start align-stretch pa-4"
        >
          <v-btn block depressed color="primary" nuxt to="/auth/signin"
            >Signin</v-btn
          >
          <v-btn
            block
            text
            color="primary"
            nuxt
            to="/auth/signup"
            class="mt-1 background"
            >Signup</v-btn
          >
        </div>
        <div v-else class="pa-4">
          <v-btn
            block
            outlined
            color="primary"
            class="mt-1 background"
            @click="$auth.logout()"
            >Signout</v-btn
          >
        </div>
      </template>
    </v-navigation-drawer>
  </div>
</template>
<script>
export default {
  name: 'LayoutHeader',
  data() {
    return {
      drawer: false,
    }
  },
  methods: {
    toggleDrawer() {
      this.drawer = !this.drawer
    },
  },
}
</script>
