<template>
  <div class="the-language">
    <v-menu offset-y bottom>
      <template #activator="{ on, attrs }">
        <v-btn
          small
          fab
          text
          v-bind="attrs"
          v-on="on"
          :color="white ? 'white' : 'default'"
        >
          {{ currentLocale }}
        </v-btn>
      </template>
      <v-list dense color="surface">
        <v-list-item
          v-for="(locale, index) in activeLocales"
          :key="index + 'locale'"
          @click="$i18n.setLocale(locale.code)"
        >
          <v-list-item-title>{{ locale.name }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>
<script>
export default {
  name: 'TheLanguage',
  props: {
    white: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    currentLocale() {
      return this.$i18n.locale
    },
    activeLocales() {
      return this.$i18n.locales.filter(
        (item) => item.code !== this.$i18n.locale
      )
    },
  },
}
</script>
