<template>
  <v-btn
    depressed
    small
    fab
    text
    nuxt
    to="/"
    :color="white ? 'white' : 'primary'"
  >
    <v-icon>mdi-android-auto</v-icon>
  </v-btn>
</template>
<script>
export default {
  name: 'LayoutLogo',
  props: {
    white: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
