<template>
  <v-bottom-navigation
    active-class="primary--text"
    class="the-navigation-bar"
    app
    fixed
    grow
  >
    <v-btn
      v-for="(menu, index) in menus"
      :key="index + 'navigation'"
      @click.prevent.stop="redirectTo(menu)"
    >
      <span>{{ menu.name }}</span>

      <v-icon>{{ menu.icon }}</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>
<script>
export default {
  name: 'LayoutNavigation',
  computed: {
    menus() {
      return [
        { name: this.$t('navigation.home'), icon: 'mdi-home', to: '/' },
        {
          name: this.$t('navigation.post'),
          icon: 'mdi-bookmark',
          to: '/draff',
        },
        {
          name: this.$t('navigation.inbox'),
          icon: 'mdi-email-open-outline',
          to: '/account/inbox',
        },
        {
          name: this.$t('navigation.setting'),
          icon: 'mdi-account-cog-outline',
          to: '/account/setting',
        },
      ]
    },
  },
  methods: {
    redirectTo(menu) {
      this.$router.push(menu.to)
    },
  },
}
</script>
<style lang="scss">
.the-navigation-bar {
  .v-btn:not(.v-btn--round) {
    height: inherit;
  }
  &.v-item-group.v-bottom-navigation {
    box-shadow: none !important;
  }
}
</style>
