<template>
  <div class="layout-popup">
    <v-dialog :value="isShowPopup" width="500" @click:outside="close">
      <v-card>
        <v-card-title>{{ popup.title }} </v-card-title>
        <v-card-text>
          {{ popup.content }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <template v-if="activePopupType === popupType.ALERT">
            <v-btn color="default" small text @click.prevent="close">
              {{ $t('common.btnClose') }}
            </v-btn>
          </template>
          <template v-else-if="activePopupType === popupType.CONFIRM">
            <v-btn color="default" small text @click.prevent="ignore">
              {{ $t('common.btnIgnore') }}
            </v-btn>
            <v-btn color="primary" small depressed @click.prevent="confirm">
              {{ $t('common.btnOk') }}
            </v-btn>
          </template>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { POPUP_TYPE } from '@/utils'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'CommonUiPopup',
  data() {
    return {
      popupType: POPUP_TYPE,
      timeoutPopup: null,
    }
  },
  computed: {
    ...mapGetters({
      isShowPopup: 'popup/isShowPopup',
      popup: 'popup/popup',
      isAutoClose: 'popup/isAutoClose',
    }),
    activePopupType() {
      return this.popup?.type
    },
  },
  watch: {
    isShowPopup() {
      if (this.isAutoClose) {
        this.timeoutPopup = setTimeout(
          function () {
            this.close()
          }.bind(this),
          3000
        )
      }
    },
  },
  methods: {
    ...mapActions({ resetPopup: 'popup/resetPopup' }),
    close() {
      this.resetPopup()
      this.$nuxt.$emit('popup-close')
    },
    confirm() {
      this.$nuxt.$emit('popup-confirm')
      this.close()
    },
    ignore() {
      this.$nuxt.$emit('popup-ignore')
      this.close()
    },
  },
  detroyed() {
    clearTimeout(this.timeoutPopup)
  },
}
</script>
