<template>
  <div class="the-toast">
    <v-snackbar
      :color="snackbarColor"
      :value="isShowSnackbar"
      :timeout="6000"
      @input="closeSnackbar"
    >
      {{ notifier.content }}

      <template #action="{ attrs }">
        <v-btn x-small color="white" text v-bind="attrs" @click="closeSnackbar">
          {{ $t('common.close') }}
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
import { NOTIFIER_COLOR } from '@/utils'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'TheToast',
  data() {
    return {
      snackbar: false,
    }
  },
  computed: {
    ...mapGetters({
      notifier: 'notifier/notifier',
      isReset: 'notifier/isReset',
    }),
    notifierString() {
      return `${this.notifier?.content}-${this.notifier?.color}`
    },
    isShowSnackbar() {
      return !this.isReset && this.snackbar
    },
    snackbarColor() {
      let color = 'primary'
      switch (this.notifier.color) {
        case NOTIFIER_COLOR.INFO:
          color = 'info'
          break
        case NOTIFIER_COLOR.SUCCESS:
          color = 'primary'
          break
        case NOTIFIER_COLOR.ERROR:
          color = 'error'
          break
        case NOTIFIER_COLOR.WARNING:
          color = 'warning'
          break
        default:
          color = 'info'
          break
      }
      return color
    },
  },
  watch: {
    notifierString() {
      this.snackbar = true
    },
  },
  methods: {
    ...mapActions({
      resetNotifier: 'notifier/resetNotifier',
    }),
    closeSnackbar() {
      this.snackbar = false
      this.resetNotifier()
    },
  },
}
</script>
