<template>
  <v-container fluid class="draff-page h-full">
    <v-card elevation="0" class="pa-0 transparent">
      <v-card-title
        class="d-flex flex-row justify-space-between align-center px-0"
      >
        <v-btn large depressed nuxt to="/draff/new" color="primary" block>
          <v-icon small>mdi-plus</v-icon> Thêm mới dự án
        </v-btn>
      </v-card-title>
      <v-card-text class="px-0">
        <page-draff-listing-item
          v-for="(item, index) in items"
          :key="index + 'draff_listing'"
          class="mb-2"
        ></page-draff-listing-item>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
export default {
  name: 'DraffPage',
  auth: false,
  data() {
    return {
      filter: {
        status: 'DRAFF',
      },
      items: [
        {
          name: 'Khu cong nghiep Dinh Tram',
          address: 'Dong Yen, Dong Phong, Bac Ninh, VN',
          currentStatus: 'DRAFF',
        },
        {
          name: 'Khu cong nghiep Dinh Tram',
          address: 'Dong Yen, Dong Phong, Bac Ninh',
          currentStatus: 'PENDING',
        },
        {
          name: 'Khu cong nghiep Dinh Tram',
          address: 'Dong Yen, Dong Phong, Bac Ninh',
          currentStatus: 'REJECT',
        },
        {
          name: 'Khu cong nghiep Dinh Tram',
          address: 'Dong Yen, Dong Phong, Bac Ninh',
          currentStatus: 'DRAFF',
        },
        {
          name: 'Khu cong nghiep Dinh Tram',
          address: 'Dong Yen, Dong Phong, Bac Ninh',
          currentStatus: 'DRAFF',
        },
        {
          name: 'Khu cong nghiep Dinh Tram',
          address: 'Dong Yen, Dong Phong, Bac Ninh',
          currentStatus: 'COMPLETED',
        },
        {
          name: 'Khu cong nghiep Dinh Tram',
          address: 'Dong Yen, Dong Phong, Bac Ninh',
          currentStatus: 'DRAFF',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.btn-new.v-btn--absolute.v-btn--bottom,
.btn-new.v-btn--fixed.v-btn--bottom {
  bottom: 72px !important;
  z-index: 100;
}
</style>
