<template>
  <div class="h-full new-draff-page">
    <v-container class="new__content h-full">
      <v-card elevation="0" class="pa-0">
        <v-card-title
          class="d-flex flex-row justify-space-between align-center"
        >
          <v-list-item
            two-line
            dense
            class="px-0 d-flex flex-row justify-space-between align-center"
          >
            <v-list-item-content class="flex-grow-1 flex-shrink-1">
              <v-list-item-title
                ><strong class="font-weight-bold text-h6 mb-1">{{
                  currentStep.title
                }}</strong></v-list-item-title
              >
              <v-list-item-subtitle class="w-full text-truncate">{{
                currentStep.subTitle
              }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-icon class="my-0 h-full">
              <v-progress-circular
                :size="60"
                :width="8"
                rotate="-90"
                :value="(100 / totalStep) * filledStep"
                color="primary"
              >
                <span class="text-caption">
                  <v-icon v-if="filledStep === totalStep" color="primary"
                    >mdi-check</v-icon
                  >
                  <strong v-else
                    >{{ currentStep.stepId
                    }}<span class="text--subtitle">/{{ totalStep }}</span>
                  </strong>
                </span>
              </v-progress-circular>
            </v-list-item-icon>
          </v-list-item>
        </v-card-title>
        <v-card-text class="mt-8">
          <page-draff-partner-type
            v-if="isPartnerTypeStep"
            v-model="model.partnerType"
          ></page-draff-partner-type>
          <page-draff-rent-type
            v-if="isRentTypeStep"
            v-model="model.rentType"
          ></page-draff-rent-type>
          <page-draff-property-type
            v-if="isPropertyTypeStep"
            v-model="model.propertyType"
          ></page-draff-property-type>
          <page-draff-property-info
            v-if="isPropertyInfoStep"
            v-model="model.propertyInfo"
          ></page-draff-property-info>
          <page-draff-owner-info
            v-if="isOwnerStep"
            v-model="model.ownerInfo"
          ></page-draff-owner-info>
          <page-draff-contact-info
            v-if="isContactStep"
            v-model="model.contactInfo"
          ></page-draff-contact-info>
        </v-card-text>
      </v-card>
    </v-container>
    <div fixed bottom class="new__actions pa-2">
      <v-btn
        v-if="currentStep.back"
        large
        outlined
        color="default"
        class="flex-grow-1 mr-1 font-weight-bold border"
        @click="currentStep.back.action"
      >
        Back
      </v-btn>
      <v-btn
        v-if="currentStep.next"
        large
        depressed
        :disabled="currentStep.next.disabled"
        color="primary"
        class="flex-grow-1 ml-1 font-weight-bold"
        @click="currentStep.next.action"
      >
        Next
      </v-btn>
      <v-btn
        v-if="currentStep.saveAsDraff"
        large
        depressed
        :disabled="currentStep.saveAsDraff.disabled"
        color="primary"
        class="flex-grow-1 ml-1 font-weight-bold"
        @click="currentStep.saveAsDraff.action"
      >
        Save As Draff
      </v-btn>
      <v-btn
        v-if="currentStep.save"
        large
        depressed
        :disabled="currentStep.save.disabled"
        color="primary"
        class="flex-grow-1 ml-1 font-weight-bold"
        @click="currentStep.save.action"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>
<script>
export default {
  name: 'DraffNewPage',
  auth: false,
  layout: 'back',
  data() {
    return {
      currentStepId: 1,
      model: {
        partnerType: null,
        rentType: null,
        propertyType: null,
        propertyInfo: null,
        propertyStatus: null,
        ownerInfo: null,
        contactInfo: null,
      },
    }
  },
  async fetch() {
    await this.getPropertyStatus()
  },
  computed: {
    CREATE_DRAFF_STEPS() {
      return {
        SELECT_PARTNER_TYPE: {
          title: 'Giới thiệu bản thân',
          subTitle: 'Bạn là?',
          stepId: 1,
          nextStep: 2,
          next: {
            disabled: !this.model?.partnerType?.valid,
            action: () => {
              ++this.currentStepId
            },
          },
        },
        SELECT_RENT_TYPE: {
          title: 'Loại giao dịch',
          subTitle: 'Vui lòng lựa chọn loại hình giao dịch',
          stepId: 2,
          nextStep: 3,
          back: {
            action: () => {
              --this.currentStepId
            },
          },
          next: {
            disabled: !this.model?.rentType?.valid,
            action: () => {
              ++this.currentStepId
            },
          },
        },
        SELECT_PROPERTY_TYPE: {
          title: 'Loại bất động sản',
          subTitle: 'Lựa chọn loại bất động sản của bạn',
          stepId: 3,
          nextStep: 4,
          back: {
            action: () => {
              --this.currentStepId
            },
          },
          next: {
            disabled: !this.model?.propertyType?.valid,
            action: () => {
              ++this.currentStepId
            },
          },
        },
        FILL_PROPERTY_INFO: {
          title: 'Fill property info',
          subTitle: 'Thêm thông tin dự án',
          stepId: 4,
          nextStep: 5,
          back: {
            action: () => {
              --this.currentStepId
            },
          },
          next: {
            disabled: !this.model?.propertyInfo?.valid,
            action: () => {
              ++this.currentStepId
            },
          },
        },
        FILL_OWNER_INFO: {
          title: 'Fill owner info',
          subTitle: 'Tell us about owner information',
          stepId: 5,
          nextStep: 6,
          back: {
            action: () => {
              --this.currentStepId
            },
          },
          next: {
            disabled: !this.model?.ownerInfo?.valid,
            action: () => {
              ++this.currentStepId
            },
          },
        },
        FILL_CONTACT_INFO: {
          title: 'Fill contact info',
          subTitle: 'Tell us about contact information',
          stepId: 6,
          nextStep: 7,
          back: {
            action: () => {
              --this.currentStepId
            },
          },
          save: {
            disabled: !this.model?.contactInfo?.valid,
            action: () => {
              this.createProperty()
            },
          },
        },
      }
    },
    currentStep() {
      const step =
        Object.values(this.CREATE_DRAFF_STEPS).find(
          (el) => el.stepId === this.currentStepId
        ) || this.CREATE_DRAFF_STEPS.SELECT_RENT_TYPE

      return step
    },
    filledStep() {
      return Object.values(this.model).filter((el) => el?.valid).length || 0
    },
    totalStep() {
      return Object.values(this.CREATE_DRAFF_STEPS).length
    },
    isPartnerTypeStep() {
      return (
        this.currentStepId ===
        this.CREATE_DRAFF_STEPS.SELECT_PARTNER_TYPE.stepId
      )
    },
    isRentTypeStep() {
      return (
        this.currentStepId === this.CREATE_DRAFF_STEPS.SELECT_RENT_TYPE.stepId
      )
    },
    isPropertyTypeStep() {
      return (
        this.currentStepId ===
        this.CREATE_DRAFF_STEPS.SELECT_PROPERTY_TYPE.stepId
      )
    },
    isPropertyInfoStep() {
      return (
        this.currentStepId === this.CREATE_DRAFF_STEPS.FILL_PROPERTY_INFO.stepId
      )
    },
    isOwnerStep() {
      return (
        this.currentStepId === this.CREATE_DRAFF_STEPS.FILL_OWNER_INFO.stepId
      )
    },
    isContactStep() {
      return (
        this.currentStepId === this.CREATE_DRAFF_STEPS.FILL_CONTACT_INFO.stepId
      )
    },
  },
  methods: {
    async createProperty() {
      try {
        const payload = this.generatePropertyPayload()
        await this.$axios.$post('/properties', payload)
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    generatePropertyPayload() {
      return {
        rentTypeId: this.model?.rentType?.selectedType,
        propertyTypeId: this.model?.propertyType?.selectedType,
        currentPropertyStatusId: this.model?.propertyStatus?.id,
        partnerTypeId: this.model?.partnerType?.selectedType,
      }
    },
    async getPropertyStatus() {
      try {
        const result = await this.$axios.$get('/property-statuses?code_eq=NEW')
        this.model.propertyStatus = result[0] || null
      } catch (error) {
        this.$notifier.error(error)
      }
    },
  },
}
</script>
<style lang="scss">
.new__content {
  padding-bottom: 56px;
}
.new__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  background-color: white;
}
</style>
