<template>
  <v-form
    ref="forgotPasswordForm"
    v-model="rules.valid"
    lazy-validation
    @submit.prevent
  >
    <v-card elevation="0" class="px-3 py-8">
      <v-card-title
        primary-title
        class="d-flex flex-column justify-center align-center pb-8"
      >
        <h4 class="text-h5 font-weight-bold">
          {{ $t('auth.textForgotPasswordTitle') }}
        </h4>
        <p class="text-body-2 mb-1">
          {{ $t('auth.textForgotPasswordSubtitle') }}
        </p>
        <v-badge top bordered color="primary" dot offset-x="10" offset-y="10">
          <v-chip color="blue lighten-5" small text-color="primary">
            {{ $config.siteHost }}/auth/forgot-password
          </v-chip>
        </v-badge>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-text-field
              id="email"
              v-model="model.email"
              :rules="rules.email"
              outlined
              name="email"
              :label="$t('auth.labelEmail')"
              hide-details="auto"
              placeholder="Ex. daniel.rose@gmail.com"
              persistent-placeholder
              @keypress.enter="requestResetPassword"
            ></v-text-field>
            <div class="d-flex justify-end mt-1">
              <v-btn
                text
                small
                color="primary"
                class="text-capitalize pa-1"
                nuxt
                to="/auth/signin"
                >{{ $t('auth.btnBackToSignin') }}</v-btn
              >
            </div>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions
        class="px-4 d-flex flex-column justify-start align-stretch"
      >
        <v-btn
          color="primary"
          depressed
          x-large
          block
          @click="requestResetPassword"
          >{{ $t('auth.btnForgotPassword') }}</v-btn
        >
        <div class="d-flex justify-end mt-1">
          <v-btn
            text
            small
            color="primary"
            class="text-capitalize pa-1"
            nuxt
            to="/auth/signup"
            >{{ $t('auth.btnDontHaveAccount') }}</v-btn
          >
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
</template>
<script>
import { rules } from '@/utils/validation'
export default {
  name: 'AuthForgotPasswordForm',
  data() {
    return {
      model: {
        email: '',
      },
      rules: {
        email: [rules.required, rules.email],
        valid: false,
      },
    }
  },
  methods: {
    async requestResetPassword() {
      try {
        if (this.formValidate()) {
          const { ok } = await this.$axios.$post(
            '/auth/forgot-password',
            this.model
          )
          if (ok) {
            this.$notifier.success(this.$t('auth.notiForgotPasswordSuccess'))
            this.$router.push('/')
          } else {
            this.$notifier.error(this.$t('auth.notiForgotPasswordFail'))
          }
        }
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    formValidate() {
      return this.$refs.forgotPasswordForm.validate()
    },
  },
}
</script>
