<template>
  <v-form
    ref="resetPasswordForm"
    v-model="rules.valid"
    lazy-validation
    @submit.prevent
  >
    <v-card elevation="0" class="px-3 py-8">
      <v-card-title
        primary-title
        class="d-flex flex-column justify-center align-center pb-8"
      >
        <h4 class="text-h5 font-weight-bold">
          {{ $t('auth.textResetPasswordTitle') }}
        </h4>
        <p class="text-body-2 mb-1">
          {{ $t('auth.textResetPasswordSubtitle') }}
        </p>
        <v-badge top bordered color="primary" dot offset-x="10" offset-y="10">
          <v-chip color="blue lighten-5" small text-color="primary">
            {{ $config.siteHost }}/auth/reset-password
          </v-chip>
        </v-badge>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-text-field
              id="password"
              v-model="model.password"
              outlined
              name="password"
              :label="$t('auth.labelPassword')"
              :rules="rules.password"
              hide-details="auto"
              type="password"
              placeholder=""
              persistent-placeholder
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              id="confirm-password"
              v-model="model.passwordConfirmation"
              outlined
              name="confirm-password"
              :label="$t('auth.labelConfirmPassword')"
              :rules="rules.passwordConfirmation"
              hide-details="auto"
              type="password"
              placeholder=""
              persistent-placeholder
              @keypress.enter="resetPassword"
            ></v-text-field>
            <div class="d-flex justify-end mt-1">
              <v-btn
                text
                small
                color="primary"
                class="text-capitalize pa-1"
                nuxt
                to="/auth/signin"
                >{{ $t('auth.btnBackToSignin') }}</v-btn
              >
            </div>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions
        class="px-4 d-flex flex-column justify-start align-stretch"
      >
        <v-btn color="primary" depressed x-large block @click="resetPassword">{{
          $t('auth.btnForgotPassword')
        }}</v-btn>
        <div class="d-flex justify-end mt-1">
          <v-btn
            text
            small
            color="primary"
            class="text-capitalize pa-1"
            nuxt
            to="/auth/signup"
            >{{ $t('auth.btnDontHaveAccount') }}</v-btn
          >
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
</template>
<script>
import { rules } from '@/utils/validation'
export default {
  name: 'AuthForgotPasswordForm',
  data() {
    return {
      model: {
        password: '',
        passwordConfirmation: '',
      },
      rules: {
        password: [rules.required, rules.min8Max40, rules.specialCharacter],
        passwordConfirmation: [
          (v) =>
            v === this.model.password ||
            this.$t('validation.confirmPasswordNotMatch'),
        ],
        valid: false,
      },
    }
  },
  computed: {
    resetPasswordToken() {
      return this.$route.query?.code
    },
  },
  methods: {
    async resetPassword() {
      try {
        if (this.formValidate()) {
          const payload = {
            code: this.resetPasswordToken,
            password: this.model.password,
            passwordConfirmation: this.model.passwordConfirmation,
          }
          const { jwt } = await this.$axios.$post(
            '/auth/reset-password',
            payload
          )
          if (jwt) {
            this.$notifier.success(this.$t('auth.notiResetPasswordSuccess'))
            this.$router.push('/auth/signin')
          } else {
            this.$notifier.error(this.$t('auth.notiResetPasswordFail'))
          }
        }
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    formValidate() {
      return this.$refs.resetPasswordForm.validate()
    },
  },
}
</script>
