<template>
  <v-form
    ref="signupForm"
    v-model="rules.valid"
    lazy-validation
    @submit.prevent
  >
    <v-card elevation="0" class="px-3 py-8">
      <v-card-title
        primary-title
        class="d-flex flex-column justify-center align-center pb-8"
      >
        <h4 class="text-h5 font-weight-bold">
          {{ $t('auth.textSignupTitle') }}
        </h4>
        <p class="text-body-2 mb-1">
          {{ $t('auth.textSignupSubtitle') }}
        </p>
        <v-badge top bordered color="primary" dot offset-x="10" offset-y="10">
          <v-chip color="blue lighten-5" small text-color="primary">
            {{ $config.siteHost }}/auth/signup
          </v-chip>
        </v-badge>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-text-field
              id="username"
              v-model="model.username"
              outlined
              name="username"
              :label="$t('auth.labelUsername')"
              :rules="rules.username"
              hide-details="auto"
              placeholder="Ex. daniel.rose"
              persistent-placeholder
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              id="email"
              v-model="model.email"
              outlined
              name="email"
              :label="$t('auth.labelEmail')"
              :rules="rules.email"
              hide-details="auto"
              placeholder="Ex. danielrose@gmail.com"
              persistent-placeholder
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              id="password"
              v-model="model.password"
              outlined
              name="password"
              :label="$t('auth.labelPassword')"
              :rules="rules.password"
              hide-details="auto"
              type="password"
              placeholder=""
              persistent-placeholder
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              id="confirm-password"
              v-model="model.confirmPassword"
              outlined
              name="confirm-password"
              :label="$t('auth.labelConfirmPassword')"
              :rules="rules.confirmPassword"
              hide-details="auto"
              type="password"
              placeholder=""
              persistent-placeholder
              @keypress.enter="userRegister"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="d-flex flex-row justify-start align-start">
            <v-checkbox
              v-model="model.acceptTermOfServices"
              hide-details
              :rules="rules.acceptTermOfServices"
              class="mt-0"
            >
            </v-checkbox>
            <i18n path="auth.labelAcceptTermOfService" tag="div">
              <template #term>
                <nuxt-link
                  text
                  to="/about/term-of-services"
                  target="_blank"
                  color="primary"
                  >{{
                    $t('auth.labelTermOfServiceAndPrivacyPolicy')
                  }}</nuxt-link
                >
              </template>
            </i18n>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions
        class="px-4 d-flex flex-column justify-start align-stretch"
      >
        <v-btn color="primary" depressed x-large block @click="userRegister">{{
          $t('auth.btnSignup')
        }}</v-btn>
        <div class="d-flex justify-end mt-1">
          <v-btn
            text
            small
            color="primary"
            class="text-capitalize pa-1"
            nuxt
            to="/auth/signin"
          >
            {{ $t('auth.btnIsHaveAccount') }}
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
</template>
<script>
import { rules } from '@/utils/validation'
export default {
  name: 'AuthSigninForm',
  data() {
    return {
      model: {
        username: '',
        email: '',
        password: '',
        confirmPassword: '',
        acceptTermOfServices: true,
      },
      rules: {
        username: [rules.required],
        email: [rules.required, rules.email],
        password: [rules.required, rules.min8Max40, rules.specialCharacter],
        confirmPassword: [
          (v) =>
            v === this.model.password ||
            this.$t('validation.confirmPasswordNotMatch'),
        ],
        acceptTermOfServices: [rules.required],
        valid: false,
      },
    }
  },
  created() {
    this.$nuxt.$on('popup-close', this.closeAlert)
  },
  methods: {
    async userRegister() {
      try {
        if (this.formValidate()) {
          this.$axios.setToken(false)
          const payload = {
            username: this.model.username,
            email: this.model.email,
            password: this.model.password,
          }
          const { jwt } = await this.$axios.$post(
            'auth/local/register',
            payload
          )
          if (jwt) {
            this.$popup.alert({
              title: 'Signup success',
              content:
                'An email send to your mailbox, please verify email and login',
              autoClose: true,
            })
          } else {
            this.$notifier.error(this.$t('auth.notiSignupFail'))
          }
        }
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    formValidate() {
      return this.$refs.signupForm.validate()
    },
    closeAlert() {
      this.$router.push('/')
    },
  },
  detroyed() {
    this.$nuxt.$off('popup-close', this.closeAlert)
  },
}
</script>
