<template>
  <v-form
    ref="signinForm"
    v-model="rules.valid"
    lazy-validation
    @submit.prevent
  >
    <v-card elevation="0" class="px-3 py-8">
      <v-card-title
        primary-title
        class="d-flex flex-column justify-center align-center pb-8"
      >
        <h4 class="text-h5 font-weight-bold">
          {{ $t('auth.textSigninTitle') }}
        </h4>
        <p class="text-body-2 mb-1">
          {{ $t('auth.textSigninSubtitle') }}
        </p>
        <v-badge top bordered color="primary" dot offset-x="10" offset-y="10">
          <v-chip color="blue lighten-5" small text-color="primary">
            {{ $config.siteHost }}/auth/signin
          </v-chip>
        </v-badge>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-text-field
              id="email"
              v-model="model.identifier"
              outlined
              name="email"
              :label="$t('auth.labelEmail')"
              hide-details="auto"
              placeholder="Ex. daniel.rose@gmail.com"
              :rules="rules.email"
              persistent-placeholder
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              id="password"
              v-model="model.password"
              outlined
              name="password"
              :label="$t('auth.labelPassword')"
              hide-details="auto"
              type="password"
              placeholder=""
              :rules="rules.password"
              persistent-placeholder
              @keypress.enter="userLogin"
            ></v-text-field>
            <div class="d-flex justify-end mt-1">
              <v-btn
                text
                small
                color="primary"
                class="text-capitalize pa-1"
                nuxt
                to="/auth/forgot-password"
                >{{ $t('auth.btnIsForgotPassword') }}</v-btn
              >
            </div>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions
        class="px-4 d-flex flex-column justify-start align-stretch"
      >
        <v-btn color="primary" depressed x-large block @click="userLogin">{{
          $t('auth.btnSignin')
        }}</v-btn>
        <div class="d-flex flex-row justify-space-between align-center mt-2">
          <v-btn
            color="primary"
            text
            large
            class="mr-1 flex-grow-1 flex-shrink-1 background"
            :href="`${$config.strapiApi}connect/google`"
          >
            <icon-google width="24" height="24" class="mr-1"></icon-google>
            Google
          </v-btn>
          <v-btn
            color="primary"
            text
            large
            :href="`${$config.strapiApi}connect/facebook`"
            class="ml-1 flex-grow-1 flex-shrink-1 background"
            ><icon-facebook width="24" height="24" class="mr-1"></icon-facebook>
            Facebook</v-btn
          >
        </div>
        <div class="d-flex justify-end mt-1">
          <v-btn
            text
            small
            color="primary"
            class="text-capitalize pa-1"
            nuxt
            to="/auth/signup"
            >{{ $t('auth.btnDontHaveAccount') }}</v-btn
          >
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
</template>
<script>
import { rules } from '@/utils/validation'
export default {
  name: 'AuthSigninForm',
  data() {
    return {
      model: {
        identifier: '',
        password: '',
      },
      rules: {
        email: [rules.required, rules.email],
        password: [rules.required],
        valid: false,
      },
    }
  },
  methods: {
    async userLogin() {
      try {
        if (this.formValidate()) {
          const response = await this.$auth.loginWith('local', {
            data: this.model,
          })
          if (response?.data?.jwt) {
            this.$notifier.success(this.$t('auth.notiSigninSuccess'))
            this.$router.push('/')
          } else {
            this.$notifier.error(this.$t('auth.notiSigninFail'))
          }
        }
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    formValidate() {
      return this.$refs.signinForm.validate()
    },
  },
}
</script>
