<template>
  <div class="auth-change-password-page">
    <page-auth-change-password></page-auth-change-password>
  </div>
</template>
<script>
export default {
  name: 'AuthChangePasswordPage',
  layout: 'auth',
}
</script>
