<template>
  <div class="auth-forgot-password-page">
    <page-auth-forgot-password></page-auth-forgot-password>
  </div>
</template>
<script>
export default {
  name: 'AuthForgotPasswordPage',
  auth: 'guest',
  layout: 'auth',
}
</script>
