<template>
  <div class="auth-reset-password-page">
    <page-auth-reset-password></page-auth-reset-password>
  </div>
</template>
<script>
export default {
  name: 'AuthResetPasswordPage',
  auth: 'guest',
  layout: 'auth',
}
</script>
