<template>
  <div class="auth-signup-page">
    <page-auth-signup></page-auth-signup>
  </div>
</template>
<script>
export default {
  name: 'AuthSignupPage',
  auth: 'guest',
  layout: 'auth',
}
</script>
