<template>
  <v-card elevation="0" outlined class="rounded-lg listing-item">
    <v-card-text class="pa-2">
      <v-row>
        <v-col cols="5">
          <v-img
            height="100"
            class="rounded-lg"
            lazy-src="https://picsum.photos/id/11/10/6"
            src="https://images.unsplash.com/photo-1587639935919-47fd2c1b9fb7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          ></v-img>
        </v-col>
        <v-col cols="7" class="d-flex flex-column justify-space-between">
          <div class="d-flex flex-column justify-start items-start">
            <strong class="black--text text-body-2"
              >Khu cong nghiep dinh tram</strong
            >
            <span class="text-caption">12/11/5 Ha Dong, Ha Noi</span>
          </div>
          <div class="d-flex flex-row justify-space-between align-center">
            <v-chip
              x-small
              label
              text-color="info"
              color="blue lighten-5"
              class="font-weight-bold px-2"
              >Draff</v-chip
            >
            <div class="d-flex justify-end align-center">
              <v-btn x-small fab text color="default">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn x-small fab text color="default">
                <v-icon>mdi-check-decagram-outline</v-icon>
              </v-btn>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: 'DraffListingItem',
  props: {
    item: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  computed: {
    statusColor() {
      let color = {
        color: 'grey darken-1',
        backgroundColor: 'grey lighten-3',
      }
      switch (this.item.currentStatus) {
        case 'DRAFF':
          color = {
            color: 'grey darken-1',
            backgroundColor: 'grey lighten-3',
          }
          break
        case 'COMPLETED':
          color = {
            color: 'success darken-1',
            backgroundColor: 'success lighten-5',
          }
          break
        case 'PENDING':
          color = {
            color: 'warning darken-1',
            backgroundColor: 'warning lighten-5',
          }
          break
        case 'REJECT':
          color = {
            color: 'error darken-1',
            backgroundColor: 'error lighten-5',
          }
          break
        default:
          break
      }
      return color
    },
  },
}
</script>
