<template>
  <v-form v-model="model.valid" lazy-validation @input="changeOwnerInfo">
    <v-row class="property-info">
      <v-col cols="12">
        <v-checkbox
          v-model="isOwnerByCurrentUser"
          label="Tôi là chủ sở hữu tài sản này"
          hide-details
          class="mt-0"
          @change="fillCurrentUser"
        ></v-checkbox>
      </v-col>
      <v-col cols="12">
        <v-text-field
          id="fullName"
          v-model="model.fullName"
          outlined
          name="fullName"
          label="Họ và tên"
          hide-details="auto"
          :rules="rule.required"
          :disabled="isOwnerByCurrentUser"
          :filled="isOwnerByCurrentUser"
          persistent-placeholder
          @change="changeOwnerInfo"
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field
          id="email"
          v-model="model.email"
          outlined
          name="email"
          label="Email"
          hide-details="auto"
          :rules="rule.required"
          :disabled="isOwnerByCurrentUser"
          :filled="isOwnerByCurrentUser"
          persistent-placeholder
          @change="changeOwnerInfo"
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field
          id="phone"
          v-model="model.phone"
          outlined
          name="phone"
          label="Số điện thoại"
          hide-details="auto"
          :rules="rule.required"
          :disabled="isOwnerByCurrentUser"
          :filled="isOwnerByCurrentUser"
          persistent-placeholder
          @change="changeOwnerInfo"
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field
          id="address"
          v-model="model.address"
          outlined
          name="address"
          label="Địa chỉ (Optional)"
          hide-details="auto"
          persistent-placeholder
          @change="changeOwnerInfo"
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field
          id="identity"
          v-model="model.identity"
          outlined
          name="identity"
          label="Thẻ căn cước / Passpost (Optional)"
          hide-details="auto"
          persistent-placeholder
          @change="changeOwnerInfo"
        ></v-text-field>
      </v-col>
    </v-row>
  </v-form>
</template>
<script>
export default {
  name: 'DraffOwnerInfo',
  props: {
    value: {
      type: Object,
      default() {
        return null
      },
    },
  },
  data() {
    return {
      isOwnerByCurrentUser: false,
      model: {
        fullName: '',
        email: '',
        address: '',
        phone: '',
        identity: '',
        relationUserId: '',
        isOwner: true,
        valid: false,
      },
      rule: {
        required: [(v) => !!v || 'Field is required'],
      },
    }
  },
  methods: {
    changeOwnerInfo() {
      this.$emit('input', this.model)
    },
    fillCurrentUser() {
      if (this.isOwnerByCurrentUser) {
        this.model = {
          fullName: this.$auth?.user?.fullName,
          email: this.$auth?.user?.email,
          address: this.$auth?.user?.address,
          phone: this.$auth?.user?.phone,
          identity: '',
          relationUserId: this.$auth?.user?.id,
          isOwner: true,
          valid: true,
        }
      } else {
        this.model = {
          fullName: '',
          email: '',
          address: '',
          phone: '',
          identity: '',
          relationUserId: '',
          isOwner: true,
          valid: false,
        }
      }
    },
  },
}
</script>
