<template>
  <v-form v-model="model.valid" @input="changePartnerType">
    <v-radio-group
      v-model="model.selectedType"
      :rules="rule.required"
      @change="changePartnerType"
    >
      <label
        v-for="(partnerType, index) in partnerTypes"
        :key="index + 'partner_type'"
        :for="partnerType.code"
        class="w-full"
      >
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title>{{ partnerType.name }}</v-list-item-title>
            <v-list-item-subtitle>{{
              partnerType.description
            }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-radio
              :id="partnerType.code"
              :name="partnerType.code"
              :value="partnerType.id"
              hide-details
            ></v-radio>
          </v-list-item-icon>
        </v-list-item>
        <v-divider></v-divider>
      </label>
    </v-radio-group>
  </v-form>
</template>
<script>
export default {
  name: 'DraffPartnerType',
  props: {
    value: {
      type: Object,
      default() {
        return null
      },
    },
  },
  data() {
    return {
      partnerTypes: [],
      model: {
        selectedType: this.value?.selectedType,
        valid: this.value?.valid,
      },
      rule: {
        required: [(v) => !!v || 'Field is required'],
      },
    }
  },
  async fetch() {
    await this.getPartnerTypes()
  },
  methods: {
    async getPartnerTypes() {
      try {
        const result = await this.$axios.$get('/partner-types')
        this.partnerTypes = result || []
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    changePartnerType() {
      this.$emit('input', this.model)
    },
  },
}
</script>
