<template>
  <v-form v-model="model.valid" @input="changePropertyInfo">
    <section class="mb-12">
      <v-subheader
        class="
          grey
          lighten-2
          mb-4
          font-weight-bold
          text-body-2
          rounded
          onbackground--text
        "
        >Dự án</v-subheader
      >
      <v-row class="property-info">
        <v-col cols="12">
          <v-text-field
            id="name"
            v-model="model.name"
            dense
            outlined
            name="name"
            label="Tên tài sản/Dự án"
            hide-details="auto"
            :rules="rule.required"
            persistent-placeholder
            @change="changePropertyInfo"
          ></v-text-field>
        </v-col>
      </v-row>
    </section>
    <section class="mb-12">
      <v-subheader
        class="
          grey
          lighten-2
          mb-4
          font-weight-bold
          text-body-2
          rounded
          onbackground--text
        "
        >Địa chỉ</v-subheader
      >
      <v-row class="property-info">
        <v-col cols="12">
          <c-location-field
            id="address"
            v-model="model.address.address"
            dense
            outlined
            name="address"
            label="Đường/Thôn/Xóm"
            hide-details="auto"
            persistent-placeholder
            @change="changePropertyInfo"
          ></c-location-field>
        </v-col>
        <v-col cols="12">
          <c-province-field
            v-model="model.address.province"
            @change="changePropertyInfo"
          ></c-province-field>
        </v-col>
        <v-col cols="12">
          <c-district-field
            v-model="model.address.district"
            :province="model.address.province"
            @change="changePropertyInfo"
          ></c-district-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            id="neighborhood"
            v-model="model.address.neighborhood"
            dense
            outlined
            name="neighborhood"
            label="Phường/Xã"
            hide-details="auto"
            persistent-placeholder
            @change="changePropertyInfo"
          ></v-text-field>
        </v-col>
      </v-row>
    </section>
    <section class="mb-12">
      <v-subheader
        class="
          grey
          lighten-2
          mb-4
          font-weight-bold
          text-body-2
          rounded
          onbackground--text
        "
        >Đặc tính sản phẩm</v-subheader
      >
      <v-row class="property-info">
        <v-col cols="12">
          <v-text-field
            id="acreage"
            v-model="model.acreage"
            dense
            outlined
            name="acreage"
            label="Diện tích"
            hide-details="auto"
            :rules="rule.required"
            persistent-placeholder
            @change="changePropertyInfo"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            id="floors"
            v-model="model.floors"
            dense
            outlined
            name="floors"
            label="Chiều cao (Optional)"
            hide-details="auto"
            persistent-placeholder
            @change="changePropertyInfo"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            id="frontWidth"
            v-model="model.frontWidth"
            dense
            outlined
            name="frontWidth"
            label="Mặt tiền (Optional)"
            hide-details="auto"
            persistent-placeholder
            @change="changePropertyInfo"
          ></v-text-field>
        </v-col>
      </v-row>
    </section>
    <section class="mb-12">
      <v-subheader
        class="
          grey
          lighten-2
          mb-4
          font-weight-bold
          text-body-2
          rounded
          onbackground--text
        "
        >Pháp lý</v-subheader
      >
      <v-row class="property-info">
        <v-col cols="12">
          <v-text-field
            id="legal"
            v-model="model.legal"
            dense
            outlined
            name="legal"
            label="Hồ sơ pháp lý (Optional)"
            hide-details="auto"
            persistent-placeholder
            @change="changePropertyInfo"
          ></v-text-field>
        </v-col>
      </v-row>
    </section>
  </v-form>
</template>
<script>
export default {
  name: 'DraffPropertyInfo',
  props: {
    value: {
      type: Object,
      default() {
        return null
      },
    },
  },
  data() {
    return {
      model: {
        name: '',
        address: {
          street: '',
          province: '',
          district: '',
          neighborhood: '',
        },
        acreage: '',
        floors: '',
        frontWidth: '',
        legal: '',
        valid: false,
      },
      rule: {
        required: [(v) => !!v || 'Field is required'],
      },
    }
  },
  methods: {
    changePropertyInfo() {
      this.$emit('input', this.model)
    },
  },
}
</script>
