<template>
  <v-form v-model="model.valid" @input="changePropertyType">
    <v-text-field
      v-model="search"
      placeholder="Search Property type"
      outlined
      flat
      dense
      hide-details
      clearable
      clear-icon="mdi-close-circle-outline"
      class="border"
    ></v-text-field>
    <v-radio-group
      v-model="model.selectedType"
      :rules="rule.required"
      @change="changePropertyType"
    >
      <v-treeview
        activatable
        color="white"
        :open="propertyTypeIds"
        :search="search"
        expand-icon="mdi-chevron-down"
        :items="treePropertyTypes"
      >
        <template #label="{ item }">
          <label :for="item.code">
            <v-list-item two-line dense>
              <v-list-item-content>
                <v-list-item-title>{{ item.name }}</v-list-item-title>
                <v-list-item-subtitle>{{ item.code }}</v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-icon>
                <v-radio
                  :id="item.code"
                  :name="item.code"
                  :value="item.id"
                  hide-details
                ></v-radio>
              </v-list-item-icon>
            </v-list-item>
            <v-divider></v-divider>
          </label>
        </template>
      </v-treeview>
    </v-radio-group>
  </v-form>
</template>
<script>
import { listToTree } from '@/utils'
export default {
  name: 'DraffPropertyType',
  props: {
    value: {
      type: Object,
      default() {
        return null
      },
    },
  },
  data() {
    return {
      search: '',
      propertyTypes: [],
      model: {
        selectedType: this.value?.selectedType,
        valid: this.value?.valid,
      },
      rule: {
        required: [(v) => !!v || 'Field is required'],
      },
    }
  },
  async fetch() {
    await this.getPropertyTypes()
  },
  computed: {
    propertyTypeIds() {
      return this.propertyTypes.map((item) => item.id)
    },
    treePropertyTypes() {
      return listToTree(this.propertyTypes)
    },
  },
  methods: {
    async getPropertyTypes() {
      try {
        const result = await this.$axios.$get('/property-types')
        this.propertyTypes = result || []
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    changePropertyType() {
      this.$emit('input', this.model)
    },
  },
}
</script>
