<template>
  <v-form v-model="model.valid" @input="changeRentType">
    <v-radio-group
      v-model="model.selectedType"
      :rules="rule.required"
      @change="changeRentType"
    >
      <label
        v-for="(rentType, index) in rentTypes"
        :key="index + 'rent_type'"
        :for="rentType.code"
        class="w-full"
      >
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title>{{ rentType.name }}</v-list-item-title>
            <v-list-item-subtitle>{{
              rentType.description
            }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-radio
              :id="rentType.code"
              :name="rentType.code"
              :value="rentType.id"
              hide-details
            ></v-radio>
          </v-list-item-icon>
        </v-list-item>
        <v-divider></v-divider>
      </label>
    </v-radio-group>
  </v-form>
</template>
<script>
export default {
  name: 'DraffRentType',
  props: {
    value: {
      type: Object,
      default() {
        return null
      },
    },
  },
  data() {
    return {
      rentTypes: [],
      model: {
        selectedType: this.value?.selectedType,
        valid: this.value?.valid,
      },
      rule: {
        required: [(v) => !!v || 'Field is required'],
      },
    }
  },
  async fetch() {
    await this.getRentTypes()
  },
  methods: {
    async getRentTypes() {
      try {
        const result = await this.$axios.$get('/rent-types')
        this.rentTypes = result || []
      } catch (error) {
        this.$notifier.error(error)
      }
    },
    changeRentType() {
      this.$emit('input', this.model)
    },
  },
}
</script>
