// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
$body-font-family: 'Mukta', sans-serif;

@import '~vuetify/src/styles/styles.sass';

$text-field-outlined-prepend-append-margin-top: 0;
.v-application .black--text {
  color: #2c2c2e;
}
