<template>
  <div>
    <v-text-field
      id="district"
      :value="district.name"
      dense
      outlined
      readonly
      name="district"
      label="Quận/Huyện"
      hide-details="auto"
      persistent-placeholder
      @change="selectDistrict"
      @click="toogleDialog"
    ></v-text-field>
    <v-bottom-sheet v-model="dialog" fullscreen scrollable>
      <v-btn small fab fixed bottom right color="primary" @click="toogleDialog"
        ><v-icon small>mdi-close</v-icon>
      </v-btn>
      <v-card>
        <v-card-text class="scroll-y">
          <v-radio-group
            v-model="district"
            class="mt-0"
            @change="selectDistrict"
          >
            <label
              v-for="(prov, index) in districtsByProvince"
              :key="index + 'rent_type'"
              :for="prov.code"
              class="w-full"
            >
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>{{ prov.name }}</v-list-item-title>
                </v-list-item-content>
                <v-list-item-icon>
                  <v-radio
                    :id="prov.code"
                    :name="prov.code"
                    :value="prov"
                    hide-details
                  ></v-radio>
                </v-list-item-icon>
              </v-list-item>
              <v-divider></v-divider>
            </label>
          </v-radio-group>
        </v-card-text>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>
<script>
import { districts } from '@/utils/district.js'
export default {
  name: 'CDistrictField',
  props: {
    value: {
      type: [String, Object],
      default() {
        return {}
      },
    },
    province: {
      type: [String, Object],
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      district: {},
      dialog: false,
      districts,
    }
  },
  computed: {
    districtsByProvince() {
      const districtArr = Object.values(districts)
      return this.province
        ? districtArr?.filter((el) => el.parent_code === this.province.code)
        : districtArr
    },
  },
  methods: {
    selectDistrict() {
      this.$emit('input', this.district)
      this.toogleDialog()
    },
    toogleDialog() {
      this.dialog = !this.dialog
    },
  },
}
</script>
