<template>
  <div class="c-empty">
    <v-icon class="text--disabled" x-large>mdi-package-variant</v-icon>
    <span class="text--disabled mt-1">Opp. Items not found!</span>
  </div>
</template>
<script>
export default {
  name: 'CEmpty',
}
</script>
<style lang="scss">
.c-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
