<template>
  <v-text-field v-bind="$props" class="location-field" v-on="listeners$">
    <template #append class="mt-0">
      <v-btn small depressed fab text color="primary" class="ma-0">
        <v-icon>mdi-map-marker-radius-outline</v-icon>
      </v-btn>
    </template>
  </v-text-field>
</template>
<script>
import { VTextField } from 'vuetify/lib'

export default {
  extends: VTextField,
}
</script>
<style lang="scss">
.location-field {
  .v-input__append-inner {
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
  }
}
</style>
