<template>
  <div>
    <v-text-field
      id="province"
      :value="province.name"
      dense
      outlined
      readonly
      name="province"
      label="Tỉnh/Thành phố"
      hide-details="auto"
      persistent-placeholder
      @change="selectProvince"
      @click="toogleDialog"
    ></v-text-field>
    <v-bottom-sheet v-model="dialog" fullscreen scrollable>
      <v-btn small fab fixed bottom right color="primary" @click="toogleDialog"
        ><v-icon small>mdi-close</v-icon>
      </v-btn>
      <v-card>
        <v-card-text class="scroll-y">
          <v-radio-group
            v-model="province"
            class="mt-0"
            @change="selectProvince"
          >
            <label
              v-for="(prov, index) in provinces"
              :key="index + 'rent_type'"
              :for="prov.code"
              class="w-full"
            >
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>{{ prov.name }}</v-list-item-title>
                </v-list-item-content>
                <v-list-item-icon>
                  <v-radio
                    :id="prov.code"
                    :name="prov.code"
                    :value="prov"
                    hide-details
                  ></v-radio>
                </v-list-item-icon>
              </v-list-item>
              <v-divider></v-divider>
            </label>
          </v-radio-group>
        </v-card-text>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>
<script>
import { provinces } from '@/utils/province.js'
export default {
  name: 'CProvinceField',
  props: {
    value: {
      type: [String, Object],
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      province: {},
      dialog: false,
      provinces,
    }
  },
  methods: {
    selectProvince() {
      this.$emit('input', this.province)
      this.toogleDialog()
    },
    toogleDialog() {
      this.dialog = !this.dialog
    },
  },
}
</script>
