<template>
  <v-card elevation="0" color="surface">
    <v-subheader>Items</v-subheader>
    <v-divider></v-divider>
    <v-card-text>
      <v-row>
        <v-col></v-col>
        <v-col class="d-flex justify-end">
          <v-chip small>Pending</v-chip>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
