<template>
  <v-app light>
    <layout-header-back></layout-header-back>
    <v-main class="background">
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <layout-navigation></layout-navigation>
    <layout-toast></layout-toast>
    <layout-popup></layout-popup>
  </v-app>
</template>

<script>
export default {
  name: 'Default',
}
</script>
