<template>
  <v-app light>
    <layout-header-back></layout-header-back>
    <v-main>
      <nuxt />
    </v-main>
    <layout-toast></layout-toast>
    <layout-popup></layout-popup>
  </v-app>
</template>

<script>
export default {
  name: 'Default',
}
</script>
