<template>
  <v-app light>
    <layout-header></layout-header>
    <v-main class="background">
      <nuxt />
    </v-main>
    <layout-navigation></layout-navigation>
    <layout-toast></layout-toast>
    <layout-popup></layout-popup>
  </v-app>
</template>

<script>
export default {
  name: 'Default',
}
</script>
