<template>
  <div class="auth-layout background h-full">
    <v-container>
      <nuxt-child></nuxt-child>
    </v-container>
  </div>
</template>
<script>
export default {
  name: 'AccountPage',
}
</script>
