<template>
  <v-container class="home-page">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="6"> </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'HomePage',
  auth: false,
}
</script>
