.h-screen {
  height: 100vh;
}
.h-full {
  height: 100% !important;
}
.h-fit-screen {
  height: calc(100vh - 156px);
}
.w-screen {
  width: 100vh;
}
.w-full {
  width: 100%;
}
.text--subtitle {
  color: rgba(0, 0, 0, 0.6);
}
.text--disabled {
  color: rgba(0, 0, 0, 0.3);
}
.border {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.z-100 {
  z-index: 100;
}
.scroll-x {
  overflow-x: scroll;
}
.scroll-y {
  overflow-y: scroll;
}
